@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body
{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container
{
 position: relative;
 width: 100%;
 max-width: 1000px;
 min-height: 1000px;
 margin: 100px;
 background: white;
 display: grid;
 grid-template-columns: 1fr 2fr;
}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

.profileText .imageBox 
{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imageBox img
{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.profileText h2
{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
}

.profileText span
{
    font-size: 1em;
    font-weight: 200;
}

.contactInfo
{
    padding-top: 10px;
    margin-left: 25px;
    color: #fff;
}

.contactInfo .title
{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.contactInfo ul
{
    position: relative;
}

.contactInfo ul li
{
 position: relative;
 list-style: none;
 cursor: pointer;
 margin: 10px 0;
 font-size: 0.9em;
 font-weight: 300;
}

.contactInfo ul li .icon
{
    display: inline-block;
    width: 20px;
    font-size: 18px;
    color: blanchedalmond;
}

.contactInfo ul li .icon span
{
 color: #fff;
}

.contactInfo ul li .text a
{
 color: #03a9f4;
}
.contactInfo .Education li  
{
 margin-bottom: 15px;
}

.contactInfo.education h4
{
 color: #03a9f4;
 font-weight: 600;
}

.contactInfo.education h5:nth-child(2)
{
 color: #fff;
 font-weight: 500;
}
.contactInfo.education h5
{
 color: #fff;
 font-weight: 300;
}
.contactInfo.languages .percent
{
    position: relative;
    width: 100%;
    height: 7px;
    background-color: darkblue;
    display: block;
    margin-top: 5px;
}

.contactInfo.languages .percent div
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background-color: red;

}



.container .left_side 
{
    position: relative;
    background: #003147;
    padding: 10px;
}

.container .right_side 
{
    position: relative;
    background: #fff;
    padding: 40px;
}

.container .right_side .about
{
 margin-bottom: 50px;
}

.container .right_side .about:last-child
{
    margin-bottom: 0;
}

.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    font-size: 15px;
}

.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company
{
    min-width: 150px;
}

.about .box .year_company h5
{
 text-transform: uppercase;
 color: #03a9f4;
 font-weight: 700;
 margin: 2px;
}


.about .box .text h4
{
 color: black;
 font-weight: 450;
 text-transform: uppercase;
}

.about .skills .box 
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.about .skills .box h4
{
    text-transform: uppercase;
    color: #03a9f4;
    font-weight: 600;
}

.about .skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: lightblue;
}

.about .skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: red;
}

.interest
{
 display: grid;
}
.interest ul li .fa-blog
{
    font-size: 18px;
    width: 25px;
}

.interest ul li .fa-code
{
    font-size: 18px;
    width: 25px;
}

.about .interest ul li
{
    list-style: none;
    display: inline-block;
    margin: 2px 5px;
    font-weight: 500;

}

@media (max-width: 900px) {
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    
}

@media (max-width: 600px) {
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year_company {
        min-width: 150px;
        margin-bottom: 5px;
    }
    .interest ul
    {
        grid-template-columns: repeat(1,1fr);
    };
    
    .about .skills .box 
    {
        grid-template-columns: repeat(1,1fr);
    }
}
